:root {
	--psBreakpointsXSmall: 640px;
	--psBreakpointsSmall: 768px;
	--psBreakpointsMedium: 1024px;
	--psBreakpointsLarge: 1280px;
	--psBreakpointsXLarge: 1600px;
	--psColorsBlueBase: #0084bd;
	--psColorsBlue1: #d9f1ff;
	--psColorsBlue2: #b9e4fd;
	--psColorsBlue3: #8ed1f6;
	--psColorsBlue4: #58b9eb;
	--psColorsBlue5: #2ea0d6;
	--psColorsBlue6: #0084bd;
	--psColorsBlue7: #0074ab;
	--psColorsBlue8: #006395;
	--psColorsBlue9: #005685;
	--psColorsBlue10: #00446b;
	--psColorsTealBase: #00baa5;
	--psColorsTeal1: #d5faf5;
	--psColorsTeal2: #affaef;
	--psColorsTeal3: #84f0e1;
	--psColorsTeal4: #5ce6d4;
	--psColorsTeal5: #2fd1be;
	--psColorsTeal6: #00baa5;
	--psColorsTeal7: #00a894;
	--psColorsTeal8: #009380;
	--psColorsTeal9: #007a6a;
	--psColorsTeal10: #006658;
	--psColorsGreenBase: #009e52;
	--psColorsGreen1: #d9fae5;
	--psColorsGreen2: #adf0c8;
	--psColorsGreen3: #82e2ab;
	--psColorsGreen4: #57d08e;
	--psColorsGreen5: #2bb970;
	--psColorsGreen6: #009e52;
	--psColorsGreen7: #008f46;
	--psColorsGreen8: #007c3a;
	--psColorsGreen9: #00672e;
	--psColorsGreen10: #005724;
	--psColorsLimeBase: #8cca08;
	--psColorsLime1: #ecffc7;
	--psColorsLime2: #deffa3;
	--psColorsLime3: #ccfc7a;
	--psColorsLime4: #b8f052;
	--psColorsLime5: #a3e029;
	--psColorsLime6: #8cca08;
	--psColorsLime7: #7bb600;
	--psColorsLime8: #6ba300;
	--psColorsLime9: #588a00;
	--psColorsLime10: #4c7700;
	--psColorsYellowBase: #fad000;
	--psColorsYellow1: #fffbcc;
	--psColorsYellow2: #fff7a8;
	--psColorsYellow3: #fff380;
	--psColorsYellow4: #ffeb57;
	--psColorsYellow5: #ffdf29;
	--psColorsYellow6: #fad000;
	--psColorsYellow7: #e2b500;
	--psColorsYellow8: #cc9e00;
	--psColorsYellow9: #b28300;
	--psColorsYellow10: #946500;
	--psColorsOrangeBase: #f59127;
	--psColorsOrange1: #ffecd1;
	--psColorsOrange2: #ffdcad;
	--psColorsOrange3: #ffcd8a;
	--psColorsOrange4: #ffba61;
	--psColorsOrange5: #ffa43e;
	--psColorsOrange6: #f59127;
	--psColorsOrange7: #e27a18;
	--psColorsOrange8: #cb670b;
	--psColorsOrange9: #b85500;
	--psColorsOrange10: #9e4100;
	--psColorsRedBase: #d21c09;
	--psColorsRed1: #ffd6d6;
	--psColorsRed2: #ffb3b3;
	--psColorsRed3: #ff8a8a;
	--psColorsRed4: #f86968;
	--psColorsRed5: #e94a3f;
	--psColorsRed6: #d21c09;
	--psColorsRed7: #c00f00;
	--psColorsRed8: #ab0600;
	--psColorsRed9: #920000;
	--psColorsRed10: #750000;
	--psColorsPinkBase: #e7558b;
	--psColorsPink1: #ffddeb;
	--psColorsPink2: #ffc2db;
	--psColorsPink3: #ffa3c8;
	--psColorsPink4: #ff8ab5;
	--psColorsPink5: #f66fa1;
	--psColorsPink6: #e7558b;
	--psColorsPink7: #d1487b;
	--psColorsPink8: #c13368;
	--psColorsPink9: #a22554;
	--psColorsPink10: #8a1a45;
	--psColorsPurpleBase: #8359df;
	--psColorsPurple1: #e9deff;
	--psColorsPurple2: #d6c2ff;
	--psColorsPurple3: #c0a3ff;
	--psColorsPurple4: #a883f8;
	--psColorsPurple5: #956ced;
	--psColorsPurple6: #8359df;
	--psColorsPurple7: #7048c6;
	--psColorsPurple8: #5934ac;
	--psColorsPurple9: #482592;
	--psColorsPurple10: #351973;
	--psColorsTextIconHighOnDark: hsla(0, 0%, 100%, 0.95);
	--psColorsTextIconHighOnLight: rgba(0, 0, 0, 0.9);
	--psColorsTextIconLowOnDark: hsla(0, 0%, 100%, 0.7);
	--psColorsTextIconLowOnLight: rgba(0, 0, 0, 0.65);
	--psColorsBorderHighOnDark: hsla(0, 0%, 100%, 0.3);
	--psColorsBorderHighOnLight: rgba(0, 0, 0, 0.3);
	--psColorsBorderLowOnDark: hsla(0, 0%, 100%, 0.15);
	--psColorsBorderLowOnLight: rgba(0, 0, 0, 0.15);
	--psColorsBackgroundDark1: #0d0f12;
	--psColorsBackgroundDark2: #181c20;
	--psColorsBackgroundDark3: #1e2429;
	--psColorsBackgroundLight1: #f0f3f5;
	--psColorsBackgroundLight2: #f7f9fa;
	--psColorsBackgroundLight3: #fff;
	--psColorsBackgroundUtilityBase: #b0b0b0;
	--psColorsBackgroundUtility10: rgba(138, 153, 168, 0.1);
	--psColorsBackgroundUtility15: rgba(138, 153, 168, 0.15);
	--psColorsBackgroundUtility20: rgba(138, 153, 168, 0.2);
	--psColorsBackgroundUtility25: rgba(138, 153, 168, 0.25);
	--psColorsBackgroundUtility30: rgba(138, 153, 168, 0.3);
	--psColorsBackgroundUtility40: rgba(138, 153, 168, 0.4);
	--psColorsBackgroundUtility60: rgba(138, 153, 168, 0.6);
	--psColorsGradientSkillsBackground: linear-gradient(90deg, #e80a89, #f15b2a);
	--psColorsGradientSkillsStop0: #e80a89;
	--psColorsGradientSkillsStop100: #f15b2a;
	--psColorsGradientFlowBackground: linear-gradient(90deg, #2968b2, #27aae1);
	--psColorsGradientFlowStop0: #2968b2;
	--psColorsGradientFlowStop100: #27aae1;
	--psColorsPrimaryActionBackground: #0074ab;
	--psColorsPrimaryActionTextDarkTheme: #2ea0d6;
	--psColorsPrimaryActionTextLightTheme: #0074ab;
	--psColorsStatusError: #d21c09;
	--psColorsStatusInfo: #0084bd;
	--psColorsStatusSuccess: #009e52;
	--psColorsStatusWarning: #fad000;
	--psColorsWhite: #fff;
	--psColorsBone: #f2f2f2;
	--psColorsCodeWhite: #f2f2f2;
	--psColorsCodeGray: #aaa;
	--psColorsCodeRed: #f26d6d;
	--psColorsCodeOrange: #ff9466;
	--psColorsCodeYellow: #ffca80;
	--psColorsCodeGreen: #b8cc7a;
	--psColorsCodeTurquoise: #abd9c6;
	--psColorsCodeBlue: #8ac7e6;
	--psColorsCodePurple: #e695bd;
	--psColorsCodeSand: #d99077;
	--psColorsBlack: #000;
	--psLayersMain: 0;
	--psLayersGlobalSidenav: 930;
	--psLayersGlobalTopnav: 950;
	--psLayersDropdown: 1000;
	--psLayersSkipToContentBanner: 1600;
	--psLayoutSpacingXXSmall: 4px;
	--psLayoutSpacingXSmall: 8px;
	--psLayoutSpacingSmall: 12px;
	--psLayoutSpacingMedium: 16px;
	--psLayoutSpacingLarge: 24px;
	--psLayoutSpacingXLarge: 48px;
	--psLayoutSpacingXXLarge: 64px;
	--psTypeFontFamily: 'PS TT Commons Roman', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;
	--psTypeFontFamilyCode: 'DM Mono', 'Source Code Pro', monospace;
	--psTypeFontSizeGigantic: 60px;
	--psTypeFontSizeJumbo: 48px;
	--psTypeFontSizeXXLarge: 36px;
	--psTypeFontSizeXLarge: 30px;
	--psTypeFontSizeLarge: 24px;
	--psTypeFontSizeMedium: 18px;
	--psTypeFontSizeSmall: 14px;
	--psTypeFontSizeXSmall: 12px;
	--psTypeFontSizeBase: 16px;
	--psTypeFontSize1200: 88px;
	--psTypeFontSize1100: 72px;
	--psTypeFontSize1000: 56px;
	--psTypeFontSize900: 40px;
	--psTypeFontSize800: 34px;
	--psTypeFontSize700: 28px;
	--psTypeFontSize600: 24px;
	--psTypeFontSize500: 20px;
	--psTypeFontSize400: 18px;
	--psTypeFontSize300: 16px;
	--psTypeFontSize200: 14px;
	--psTypeFontSize100: 12px;
	--psTypeLetterSpacingGigantic: -1px;
	--psTypeLetterSpacingJumbo: -0.72px;
	--psTypeLetterSpacingXXLarge: -0.54px;
	--psTypeLetterSpacingXLarge: -0.45px;
	--psTypeLetterSpacingLarge: 0.36px;
	--psTypeLetterSpacingMedium: 0;
	--psTypeLetterSpacingSmall: 0;
	--psTypeLetterSpacingXSmall: 0;
	--psTypeLetterSpacingTighter: -0.025em;
	--psTypeLetterSpacingTight: -0.01em;
	--psTypeLetterSpacingNone: 0;
	--psTypeLetterSpacingLoose: 0.01em;
	--psTypeLetterSpacingLooser: 0.025em;
	--psTypeLetterSpacingAllCaps: 0.08em;
	--psTypeFontWeightBlack: 900;
	--psTypeFontWeightXBold: 800;
	--psTypeFontWeightBold: 700;
	--psTypeFontWeightDemiBold: 600;
	--psTypeFontWeightMedium: 500;
	--psTypeFontWeightRegular: 400;
	--psTypeFontWeightBook: 400;
	--psTypeFontWeightLight: 300;
	--psTypeFontWeightXLight: 200;
	--psTypeFontWeightThin: 100;
	--psTypeFontWeightDefault: 400;
	--psTypeFontWeightStrong: 600;
	--psTypeFontWeight900: 900;
	--psTypeFontWeight800: 800;
	--psTypeFontWeight700: 700;
	--psTypeFontWeight600: 600;
	--psTypeFontWeight500: 500;
	--psTypeFontWeight400: 400;
	--psTypeFontWeight300: 300;
	--psTypeFontWeight200: 200;
	--psTypeFontWeight100: 100;
	--psTypeLineHeightTight: 20px;
	--psTypeLineHeightStandard: 24px;
	--psTypeLineHeightExtra: 32px;
	--psTypeLineHeightHuge: 40px;
	--psMotionSpeedXFast: 100ms;
	--psMotionSpeedFast: 200ms;
	--psMotionSpeedNormal: 300ms;
	--psMotionSpeedSlow: 400ms;
	--psMotionSpeedXSlow: 500ms;

	--btn-primary: var(--psColorsGradientSkillsBackground);
	--btn-secondary: red;
	--btn-default: red;
}

body {
	background: var(--psColorsBackgroundDark3);
	color: var(--psColorsBone);
	font-size: var(--psTypeFontSize200);
	font-family: var(--psTypeFontFamily);
	min-width: 48rem;
}

main {
	padding: var(--psLayoutSpacingXXSmall);
}

main > section {
	display: flex;
	margin: auto var(--psLayoutSpacingXXSmall);
	padding: var(--psLayoutSpacingSmall) var(--psLayoutSpacingXXSmall);
}
main > section:not(:last-child) {
	border-bottom: 1px solid var(--psColorsBorderHighOnDark);
}

label {
	color: var(--psColorsCodeGray);
	line-height: var(--psTypeLineHeightTight);
}
label > span {
	font-weight: var(--psTypeFontWeight500);
	color: var(--psColorsBone);
}

.status {
	align-items: center;
}
.status__label {
	text-transform: uppercase;
	font-weight: var(--psTypeFontWeightBold);
	flex-grow: 1;
}
.status__active {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	justify-self: flex-end;
}
.status__active.disabled circle {
	fill: rgb(255, 51, 51);
}
.status__active.enabled circle {
	fill: #25f536;
}

.course-information {
	flex-direction: column;
}

.controls {
	flex-direction: row;
}
.controls section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.controls > section {
	flex-grow: 1;
	flex-basis: 33%;
}
.controls > section:not(:last-child) {
	border-right: 1px solid var(--psColorsBorderHighOnDark);
}
.controls label {
	margin-bottom: var(--psLayoutSpacingXXSmall);
}
.time {}
.time > section { }
.time > section:not(:last-child) {
	border-bottom: 1px solid var(--psColorsBorderHighOnDark);
	padding-bottom: var(--psLayoutSpacingSmall);
	margin-bottom: var(--psLayoutSpacingSmall);
}
.delay { }
.delay__label {}
.max-duration__label { }
.max-duration { }
.max-duration__input {
	background: var(--psColorsBackgroundDark3);
	color: var(--psColorsBone);
	border: 1px solid var(--psColorsBorderHighOnDark);
	border-radius: var(--psLayoutSpacingXXSmall);
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingSmall);
}
.max-duration__submit {
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingMedium);
	border: none;
	background-color: var(--psColorsBlueBase);
	color: var(--psColorsBone);
	border-radius: var(--psLayoutSpacingXXSmall);
}

.leadingzero {}
.leadingzero > section {}
.leadingzero > section:not(:last-child) {
	border-bottom: 1px solid var(--psColorsBorderHighOnDark);
	padding-bottom: var(--psLayoutSpacingSmall);
	margin-bottom: var(--psLayoutSpacingSmall);
}
.leadingzero select {
	width: 100%;
	color: var(--psColorsBone);
	background: var(--psColorsBackgroundDark3);
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingSmall);
	border-radius: var(--psLayoutSpacingXXSmall)
 }
.leading-zero {
	width: 80%;
 }
 .leading-zero__submit {
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingMedium);
	border: none;
	background-color: var(--psColorsBlueBase);
	color: var(--psColorsBone);
	border-radius: var(--psLayoutSpacingXXSmall);
 }
.leading-zero__label { }

.subtitle { }
.subtitle > section { }
.subtitle > section:not(:last-child) {
	border-bottom: 1px solid var(--psColorsBorderHighOnDark);
	padding-bottom: var(--psLayoutSpacingSmall);
	margin-bottom: var(--psLayoutSpacingSmall);
}
.subtitle select {
	width: 100%;
	color: var(--psColorsBone);
	background: var(--psColorsBackgroundDark3);
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingSmall);
	border-radius: var(--psLayoutSpacingXXSmall)
}
.primary-subtitle {
	width: 80%;
}
.secondary-subtitle {
	width: 80%;
}
.subtitle__submit {
	padding: var(--psLayoutSpacingXXSmall) var(--psLayoutSpacingMedium);
	border: none;
	background-color: var(--psColorsBlueBase);
	color: var(--psColorsBone);
	border-radius: var(--psLayoutSpacingXXSmall);
}

.download {
	justify-content: center;
}
.download > button {
	border: none;
	fill: var(--psColorsBone);
	background: var(--psColorsBackgroundDark3);
}
.download button:hover {
	cursor: pointer;
	fill: var(--psColorsGradientSkillsStop0);
}
.download button svg {
	width: 1.6rem;
	height: 1.6rem;
}
.download__current > svg {
	height: 0.5rem;
}
.download__all > svg {
	height: 0.5rem;
}

.links {
	justify-content: center;
}
.links a {
	margin: auto var(--psLayoutSpacingXXSmall);
	cursor: pointer;
}
.links svg {
	width: 1.2rem;
	height: 1.2rem;
}
.links__pluralsight {
	width: 16px;
	height: 16px;
	background: url('./icons/pluralsight.png');
	background-repeat: none;
}
.links__github svg {
	fill: var(--psColorsBone);
}
.links__github support {
	display: none;
}
